[core]
	excludesfile = ~/.gitignore_global
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[url "git@github.com:"]
	insteadOf = https://github.com/
