[core]
    excludesfile = ~/.gitignore_global
    pager = delta
    editor = nvim

[user]
    name = Alexander Ivanov
    email = alexander.valentinov.ivanov@gmail.com

[init]
    defaultBranch = main

[url "git@github.com:"]
    insteadOf = https://github.com/

[commit]
    gpgsign = true

[tag]
    gpgSign = true


[delta]
    navigate = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[alias]
    root = "rev-parse --show-toplevel"
    whoami = "config --get user.name"
    whoami-email = "config --get user.email"

[include]
    path = ~/.gitconfig_local

[include]
    path = ~/.gitconfigs/personal.gitconfig

[includeIf "gitdir:~/quantco/"]
    path = ~/.gitconfigs/work.gitconfig
