name: CI tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: >-
            default
            lint
      - name: Run linting checks
        run: |
          pixi run -e lint pre-commit-run --color always
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: >-
            default
            test
            lint
      - name: Run precommit checks
        run: |
          pixi run -e lint pre-commit-run -a
